{{new-post savePost="savePost"}}


<ul>
  {{#each model as |post|}}
    <li>{{post.title}}</li>
    <button {{action "deletePost" post}}>Delete</button>
    {{update-post post=post update="update"}}
  {{/each}}
</ul>
