<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><span class='nav-text'>The Benevolent Overboard</span></a>
    </div>
    <ul class="nav navbar-nav">
      <li>{{#link-to "about"}}<span class='nav-text'>About</span>{{/link-to}}</li>
      <li>{{#link-to "contact"}}<span class='nav-text'>Contact Us</span>{{/link-to}}</li>
      <li>{{#link-to "admin"}}<span class='nav-text'>Administrator</span>{{/link-to}}</li>
    </ul>
  </div>
</nav>
<div class="container">
{{outlet}}
</div>
